<!DOCTYPE HTML>
<html>
<head>
    <title>Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
</head>
<body>
<style>
    .bg {
        background-image: url("https://s1.1zoom.ru/big0/465/Mountains_Porsche_911_488203.jpg");
        height: 500%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo {
        height: 150px;
        width: 150px;
    }
</style>
<div class="d-flex flex-column flex-md-row align-items-center border-bottom">
    <a href="/avia/homepage" class="d-flex align-items-center text-dark text-decoration-none">

        <span class="fs-3" style="text-indent: 30px">AVIA</span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/avia/homepage">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/avia/contactspage">Contacts</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/avia/salepage">Sale</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/avia/brandspage">Car Brands</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/avia/drivepage">Test Drive</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/avia/callpage">Call</a>
        <a class="me-3 py-2 text-decoration-none btn btn-outline-dark" href="/avia/adminpage">Log In</a>
    </nav>
</div>
<div class="bg">
    <div class="container py-20 d-flex flex-column min-vh-100 foreground">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-white">Meet the new Porsche 911</h1>
                <p class="fs-5 text-white">Welcome to the website of the multi-brand AVIA car dealer. Here is a model range oars for every taste. In order to get acquainted, click the buttons below.</p>
                <a class="me-3 py-2 text-decoration-none btn btn-outline-light" href="/avia/brandspage">Let's start</a>
            </div>
    </div>
</div>
<footer class=" pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <a href="/avia/homepage" class="d-flex align-items-center text-dark text-decoration-none">

                <span class="fs-3" style="text-indent: 30px">AVIA</span>
            </a>
            <small class="d-block mb-3 text-muted" style="text-indent: 30px">© 2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>Car Brands</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/mersedes">Mercedes-Benz</a>
                </li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/bmw">BMW</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/audi">Audi</a>
                </li>
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="/avia/brandspage/porsche">Porsche</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/lexus">Lexus</a>
                </li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/landrover">Land
                    Rover</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="/avia/brandspage/jaguar">Jaguar</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Feedback</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/callpage">Call</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/drivepage">Test Drive</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="https://t.me/joinchat/L1E6TEeGwlUwZDUy">Technical support</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>
</div>
</body>
</html>