<!DOCTYPE HTML>
<html>
<head>
    <title>Successful request</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <a href="/avia/homepage">Home</a>
    <a href="/avia/contactspage">Contacts</a>
    <a href="/avia/salepage">Sale</a>
    <a href="/avia/brandspage">Car Brands</a>
    <a href="/avia/drivepage">Test Drive</a>
    <a href="/avia/adminpage">Log In</a>
    <a href="/avia/callpage">Call</a>
    <div class="container mt-5">
        <h1>Successful request!</h1>
    </div>
</head>
<body>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <a href="/avia/homepage" class="d-flex align-items-center text-dark text-decoration-none">

                <span class="fs-3" style="text-indent: 30px">AVIA</span>
            </a>
            <small class="d-block mb-3 text-muted" style="text-indent: 30px">© 2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>Car Brands</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/mersedes">Mercedes-Benz</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/bmw">BMW</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/audi">Audi</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/porsche">Porsche</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/lexus">Lexus</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/landrover">Land Rover</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/brandspage/jaguar">Jaguar</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Feedback</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/callpage">Call</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="/avia/drivepage">Test Drive</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="https://t.me/joinchat/L1E6TEeGwlUwZDUy">Technical support</a></li>
            </ul>
        </div>
    </div>
</footer>
</div>
</div>
</body>
</html>